{{ define "main" }}
  {{ partial "header.html" . }}
  <div class="flex flex-col pt-8 gap-10">
    <!-- Main Content-->
    <div class="flex flex-col w-full gap-6 px-4 max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold">{{ .Title }}</h2>
      <div class="flex flex-col gap-4 w-full">
        <hr class="border-slate-600"/>
        <div class="prose prose-invert max-w-full">
          {{ partial "markdown.html" . }}
        </div>
      </div>
    </div>
    {{ partial "footer_regular.html" . }}
  </div>
{{ end }}
