{{ if .IsPage }}
{{ with .Params.faq }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{ range $index, $item := . }}
    {
      "@type": "Question",
      "name": {{ $item.question | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $item.answer | jsonify }}
      }
    }{{ if not (eq $index (sub (len $.Params.faq) 1)) }},{{ end }}
    {{ end }}
  ]
}
</script>
{{ end }}

{{ with .Params.aggregateRating }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ $.Title | jsonify }},
  "datePublished": "{{ $.Date.Format "2006-01-02T15:04:05-07:00" }}",
  "author": {
    "@type": "Organization",
    "name": {{ $.Site.Title | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ $.Site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ (urls.JoinPath $.Site.BaseURL "images/logo.png") | jsonify }}
    }
  },
  "description": {{ $.Description | jsonify }},
  "aggregateRating": {
    "@type": "AggregateRating",
    "itemReviewed": {
      "@type": "Course",
      "name": {{ $.Title | jsonify }},
      "description": {{ $.Description | jsonify }},
      "provider": {
        "@type": "Organization",
        "name": "Udemy",
        "sameAs": "https://www.udemy.com/"
      }
    },
    "ratingValue": "{{ .ratingValue }}",
    "reviewCount": "{{ .reviewCount }}",
    "bestRating": "5",
    "worstRating": "1"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ $.Permalink }}"
  }
}
</script>
{{ end }}
{{ end }}
