# .github/workflows/gh-pages.yml
name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
  workflow_dispatch:  # Manual trigger

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0

      - name: Remove submodule config
        run: |
          rm -f .gitmodules
          rm -rf .git/modules
          git add .

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.125.6'  # Using a specific version for stability
          extended: true

      - name: Install PostCSS
        run: npm install -g postcss postcss-cli autoprefixer

      - name: Build
        run: |
          git config --global --add safe.directory /__w/courseswyn-hugo/courseswyn-hugo
          git submodule update --init --recursive
          hugo --minify --gc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages